.car {
    width: 1200px;
    margin: 0 auto;

    &-container {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding: 10px;
    }
    &-list {
        width: 55%;
    }
    &-add {
        width: 40%;
    }
    &-edit {
        width: 500px;
    }
}
.car-edit {
    width: 600px;
    margin: 0 auto;
}
