.home {
    width: 1000px;
    height: auto;

    margin: 0 auto;
    margin-top: 20px;

    &-container {
        display: inline-block;
        margin: 0 auto;
    }
    &-box {
        width: 480px;
        display: inline-block;
        margin-right: 10px;
    }
    &-card {
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        border: $colorbox;
    }
    &-date {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $colorbox;
        color: white;
    }
    &-text a {
        text-decoration: none;
        color: black;
    }
    &-gio {
        font-size: 20px;
        margin: 0 auto;
    }
}
