@import "variables";
@import "login";
@import "home";
@import "car";
@import "lichChay";
@import "info";
@import "about";
@import "user";

.navbar-custom {
    // background-color: #1a1a1d;
    background-color: #4e4e50;
}
.main {
    margin: 30px;
    padding: 30px;
}
.width10 {
    max-width: 100px;
}
.width150 {
    max-width: 150px;
}
.width300 {
    max-width: 300px;
}
.huy_ve {
    text-decoration: none;
    color: red;
}
.center-icon {
    display: flex;
    align-items: center;
}
.display-left {
    display: flex;
}
// #1A1A1D
// #4E4E50
// #6F2232
// #950740
// #C3037F
// https://visme.co/blog/website-color-schemes/
